{% include 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/mycorner.css' %}">

    {% if user.is_authenticated and not user.theme_user.darkmode %}
      <link rel="stylesheet" href="{% static 'css_light/mycorner.css' %}">
    {% endif %}
{% endblock css %}

{% block content %}

  <section class="mycorner_section">
    <form class="form-inline" action="/search_tagbyname" method="POST">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Search by tags" name="tag_name">
      <button class="btn btn-outline-danger" type="submit">Search</button><br>
    </form>
    <br>
    <p style="color:red;">Searched Tag: 
  
      <a href="#" class="badge badge-danger">{{tag}}</p></a>
  
  </p>
  {% if show1 == True %}
    <h2>Premium {{types}} Videos</h2><br>
    <div class="row">
      {% for video in videos %}
        <div class="col-6 col-md-4 col-lg-3">
          <div class="poster">
            <a href="{% url 'play_svideo' video.id %}"><img id="sl{{video.id}}" src="{% static 'images/loading.gif' %}" alt="poster"></a>
          </div>
          <div class="info">
            <a style="text-decoration: none;"  href="{% url 'play_svideo' video.id %}"><h4 class="video-title">{{video.title}}</h4></a>
            <p>{{video.views}} views | {{video.publish_date}}  </p>
          </div>
        </div>
        <script>
          document.getElementById("sl{{video.id}}").setAttribute('src', '{{ MEDIA_URL }}{{video.poster}}');
        </script>
      {% endfor %}
    </div>
      <br>
  {% endif %}
      

  {% if show2 == True %}
  <h2>Free {{types}} Videos</h2><br>
  <div class="row">
      {% for i in items %}
      <div class="col-6 col-md-4 col-lg-3">
        <div class="poster">
          <a href="{% url 'play_yvideo' i.id %}"><img  id="y{{i.video}}" src="{% static 'images/loading.gif' %}"  alt="poster" ></a>
        </div>
        <div class="info">
          <a  style="text-decoration: none;" href="{% url 'play_yvideo' i.id %}"><h4 class="video-title">{{i.title}}</h4></a>
          <p>{{i.views}} views | {{i.publish_date}} </p>
        </div>
      </div>
      <script type="text/javascript">
        function youtube_parser(url){
            var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#&?]*).*/;
            var match = url.match(regExp);
            return (match&&match[7].length==11)? match[7] : false;
        }
        document.getElementById('y{{i.video}}').setAttribute('src', 'http://i1.ytimg.com/vi/'+youtube_parser("{{i.video}}")+'/maxresdefault.jpg');
    </script> 
   
    {% endfor %}
    </div>
    <br>
{% endif %}

    <nav class="page-nav">
      <ul class="pagination justify-content-end">
        
          {% if page_no is 1 %}
          <li class="page-item disabled">
            <a class="page-link" href="{% url 'genre_pagination' page_no|add:'-1' %}" >Previous</a>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="{% url 'genre_pagination' page_no|add:'-1' %}" >Previous</a>
          </li>
          {% endif %}
          
        
        <!-- TODO:yha loop chala dena -->
        {% for i in ranges %}
        <li class="page-item"><a class="page-link" href="{% url 'genre_pagination' forloop.counter %}">{{forloop.counter}}</a></li>
        {% endfor %}
        
        
        {% if page_no == ranges3 %}
        <li class="page-item disabled">
          <a class="page-link" href="{% url 'genre_pagination' page_no|add:'1' %}">Next</a>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="{% url 'genre_pagination' page_no|add:'1' %}">Next</a>
        </li>
        {% endif %}
        
        
      </ul>
    </nav>
  </section>


{% endblock content %}