{% include 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/mycorner.css' %}">
{% endblock css %}

{% block content %}

  <section class="mycorner_section">
    <h2>Liked Free Videos</h2><br>
    <div class="row">
        {% for video in user.ylikes.all %}
        <div class="col-6 col-md-4 col-lg-3">
          <div class="poster">
            <a href="{% url 'play_yvideo' video.id %}"><img id="yl{{video.id}}" src="{% static 'images/loading.gif' %}" alt="poster"></a>
          </div>
          <div class="info">
            <a href="{% url 'play_yvideo' video.id %}"><h4 class="video-title">{{video.title}}</h4></a>
            <p>{{video.views}} views | {{video.publish_date}} </p>
          </div>
        </div></a>
        <script>
          function youtube_parser(url){
            var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#&?]*).*/;
            var match = url.match(regExp);
            return (match&&match[7].length==11)? match[7] : false;
          }
          document.getElementById('yl{{video.id}}').setAttribute('src', 'http://i1.ytimg.com/vi/'+youtube_parser("{{video.video}}")+'/maxresdefault.jpg');
        </script>
      {% endfor %}
    </div>
    <br>
    <nav class="page-nav">
      <ul class="pagination justify-content-end">
        
          {% if page_no is 1 %}
          <li class="page-item disabled">
            <a class="page-link" href="{% url 'yvideo_pagination' page_no|add:'-1' %}" >Previous</a>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="{% url 'yvideo_pagination' page_no|add:'-1' %}" >Previous</a>
          </li>
          {% endif %}
          
        
        <!-- TODO:yha loop chala dena -->
        {% for i in ranges %}
        <li class="page-item"><a class="page-link" href="{% url 'yvideo_pagination' forloop.counter %}">{{forloop.counter}}</a></li>
        {% endfor %}
        
        {% if user.ylikes.count|div:'2' > user.ylikes.count|intdiv:'2' %}
        {% if page_no is user.ylikes.count|intdiv:'2'|add:'1' %}
        <li class="page-item disabled">
          <a class="page-link" href="{% url 'yvideo_pagination' page_no|add:'1' %}">Next</a>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="{% url 'yvideo_pagination' page_no|add:'1' %}">Next</a>
        </li>
        {% endif %}
        {% else %}
        {% if page_no is user.ylikes.count|intdiv:'2' %}
        <li class="page-item disabled">
          <a class="page-link" href="{% url 'yvideo_pagination' page_no|add:'1' %}">Next</a>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="{% url 'yvideo_pagination' page_no|add:'1' %}">Next</a>
        </li>
        {% endif %}
        {% endif %}
      </ul>
    </nav>
  </section>


{% endblock content %}