{% include 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/mycorner.css' %}">
{% endblock css %}

{% block content %}

  <section class="mycorner_section">
    <h2>Favourite Premium Videos</h2><br>
    <div class="row">
      {% for video in videos %}
        <div class="col-6 col-md-4 col-lg-3">
          <div class="poster">
            <a   href="{% url 'play_svideo' video.id %}"> <img id="sl{{video.id}}" src="{% static 'images/loading.gif' %}" alt="poster"></a>
          </div>
          <div class="info">
            <a  style="text-decoration: none;" href="{% url 'play_svideo' video.id %}"><h4 class="video-title">{{video.title}}</h4></a>
            <p>{{video.views}} views | {{video.publish_date}}  </p>
          </div>
        </div>
        <script>
          document.getElementById("sl{{video.id}}").setAttribute('src', '{{ MEDIA_URL }}{{video.poster}}');
        </script>
      {% endfor %}
    </div>
    <br>
    <nav class="page-nav">
      <ul class="pagination justify-content-end">
        
          {% if page_no is 1 %}
          <li class="page-item disabled">
            <a class="page-link" href="{% url 'svideo_fav_pagination' page_no|add:'-1' %}" >Previous</a>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="{% url 'svideo_fav_pagination' page_no|add:'-1' %}" >Previous</a>
          </li>
          {% endif %}
          
        
        <!-- TODO:yha loop chala dena -->
        {% for i in ranges %}
        <li class="page-item"><a class="page-link" href="{% url 'svideo_fav_pagination' forloop.counter %}">{{forloop.counter}}</a></li>
        {% endfor %}
        
        {% if user.fav_svideos.count|div:'2' > user.fav_svideos.count|intdiv:'2' %}
        {% if page_no is user.fav_svideos.count|intdiv:'2'|add:'1' %}
        <li class="page-item disabled">
          <a class="page-link" href="{% url 'svideo_fav_pagination' page_no|add:'1' %}">Next</a>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="{% url 'svideo_fav_pagination' page_no|add:'1' %}">Next</a>
        </li>
        {% endif %}
        {% else %}
        {% if page_no is user.fav_svideos.count|intdiv:'2' %}
        <li class="page-item disabled">
          <a class="page-link" href="{% url 'svideo_fav_pagination' page_no|add:'1' %}">Next</a>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="{% url 'svideo_fav_pagination' page_no|add:'1' %}">Next</a>
        </li>
        {% endif %}
        {% endif %}
      </ul>
    </nav>
  </section>


{% endblock content %}