{% include 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/mycorner.css' %}">
{% endblock css %}

{% block content %}

  <section class="mycorner_section">

    <h2>{{heading}}</h2><br>
    <div class="row">
      {% for video in user.likes.all %}
        <div class="col-6 col-md-4 col-lg-3">
          <div class="poster">
            <a   href="{% url 'play_svideo' video.id %}"> <img id="sl{{video.id}}" src="{% static 'images/loading.gif' %}" alt="poster"></a>
          </div>
          <div class="info">
            <a  style="text-decoration: none;" href="{% url 'play_svideo' video.id %}"><h4 class="video-title">{{video.title}}</h4></a>
            <p>{{video.views}} views | {{video.publish_date}}  </p>
          </div>
        </div>
        <script>
          document.getElementById("sl{{video.id}}").setAttribute('src', '{{ MEDIA_URL }}{{video.poster}}');
        </script>
      {% endfor %}
    </div>

    <br>

    <div>
      <nav class="text-center">
        <ul class="pagination ">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <!-- TODO:yha loop chala dena -->
          <li class="page-item "><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>


  </section>
  disabled

{% endblock content %}