{% extends 'base.html' %}

{% load static %}



{% block css %}

    <link rel="stylesheet" href="{% static 'css/index.css' %}">

{% endblock %}

{% block content %}
{% if showRegister == True %}
<script>
    showRegisterationForm();
    hideLoginMsg();
    showRegMsg();
    console.log("register form");
</script>
{% endif  %}
{% if showLogin == True %}
<script>
    showLoginForm();
    hideRegMsg();
    showLoginMsg();
    console.log("login form");
</script>
{% endif %}

   
    <div class="top-carousel-div">
        <div id="top-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#top-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#top-carousel" data-slide-to="1"></li>
                <li data-target="#top-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="image-div">
                        <img class="carousel-img" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_m_1x/sources/r1/cms/prod/8321/788321-h" alt="ipl image">
                    </div>
                    <div class="side-content">
                        <!-- to be filled with lines -->
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="image-div">
                        <div class="image-div">
                            <img class="carousel-img" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_m_1x/sources/r1/cms/prod/8321/788321-h" alt="ipl image">
                        </div>
                        <div class="side-content">
                            <!-- to be filled with lines -->
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="image-div">
                        <div class="image-div">
                            <img class="carousel-img" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_m_1x/sources/r1/cms/prod/8321/788321-h" alt="ipl image">
                        </div>
                        <div class="side-content">
                            <!-- to be filled with lines -->
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#top-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#top-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <!--Recommended-->
    <div class="carousel-movies">
        <h3 class="carousel-heading">Recommended </h1>
        <div id="movie-carousel1" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <div class="row movie-row">
                       
                        {% for video in recommended_videos|slice:":6" %}
                        <div class="col-sm-4 col-lg-2 col">
                            <div class="movie-img-container">
                                <a href="{% url 'play_svideo' video.id %}">
                                <img class="movie-icon" id="{{video.id}}" src="{% static 'images/loading.gif' %}" alt="avenger image">
                                </a>
                            </div>
                            <script type="text/javascript">
                                document.getElementById('{{video.id}}').setAttribute('src', '{{ MEDIA_URL }}{{video.poster}}');
                            </script>
                        </div>
                      
                           
                        {% endfor %}
                        
                    
                    </div>
                    
                </div>
                
                <div class="carousel-item">
                    <div class="row movie-row">
                        {% for i in recommended_items|slice:":6" %}
                        <div class="col-sm-4 col-lg-2 col">
                            <div class="movie-img-container">
                                <a href="{% url 'play_yvideo' i.id %}">
                                <img class="movie-icon" id="{{i.video}}" src="{% static 'images/loading.gif' %}"  alt="avenger image" >
                                <script type="text/javascript">
                                    function youtube_parser(url){
                                        var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#&?]*).*/;
                                        var match = url.match(regExp);
                                        return (match&&match[7].length==11)? match[7] : false;
                                    }
                                    document.getElementById('{{i.video}}').setAttribute('src', 'http://i1.ytimg.com/vi/'+youtube_parser("{{i.video}}")+'/default.jpg');
                                </script></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div> 
                </div>
            </div>
            <a class="carousel-control-prev" href="#movie-carousel1" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#movie-carousel1" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>









    <!-- Popular movies carousel -->
    <div class="carousel-movies">
        <h3 class="carousel-heading">Popular movies</h1>
        <div id="movie-carousel1" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <div class="row movie-row">
                       
                        {% for video in videos|slice:":6" %}
                        <div class="col-sm-4 col-lg-2 col">
                            <div class="movie-img-container">
                                <a href="{% url 'play_svideo' video.id %}">
                                <img class="movie-icon" id="p{{video.id}}" src="{% static 'images/loading.gif' %}" alt="avenger image">
                                </a>
                            </div>
                            <script type="text/javascript">
                                document.getElementById('p{{video.id}}').setAttribute('src', '{{ MEDIA_URL }}{{video.poster}}');
                            </script>
                        </div>
                      
                           
                        {% endfor %}
                        
                    
                    </div>
                    
                </div>
                <div class="carousel-item">
                    <div class="row movie-row">                        
                      
                        {% for video in videos|slice:"6:" %}
                        <div class="col-sm-4 col-lg-2 col">
                            <div class="movie-img-container">
                                <a href="{% url 'play_svideo' video.id %}">
                                <img class="movie-icon" id="p{{video.id}}" src="{% static 'images/loading.gif' %}" alt="avenger image">
                                </a>
                            </div>
                            <script type="text/javascript">
                                document.getElementById('p{{video.id}}').setAttribute('src', '{{ MEDIA_URL }}{{video.poster}}');
                            </script>
                        </div>
                      
                           
                        {% endfor %}
                       
                        
                       
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#movie-carousel1" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#movie-carousel1" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <!-- YOutube carousel -->
    <div class="carousel-movies">
        <h3 class="carousel-heading">Popular Youtube Videos</h1>
        <div id="movie-carousel2" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row movie-row">
                        {% for i in items|slice:":6" %}
                        <div class="col-sm-4 col-lg-2 col">
                            <div class="movie-img-container">
                                <a href="{% url 'play_yvideo' i.id %}">
                                <img class="movie-icon" id="y{{i.video}}" src="{% static 'images/loading.gif' %}"  alt="avenger image" >
                                <script type="text/javascript">
                                    function youtube_parser(url){
                                        var regExp = /^.((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#&?]).*/;
                                        var match = url.match(regExp);
                                        return (match&&match[7].length==11)? match[7] : false;
                                    }
                                    document.getElementById('y{{i.video}}').setAttribute('src', 'http://i1.ytimg.com/vi/'+youtube_parser("{{i.video}}")+'/default.jpg');
                                </script></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div> 
                </div>
                <div class="carousel-item">
                    <div class="row movie-row">                        
                      
                        {% for i in items|slice:"6:" %}
                        <div class="col-sm-4 col-lg-2 col">
                            <div class="movie-img-container">
                                <a href="{% url 'play_yvideo' i.id %}">
                                <img class="movie-icon" id="{{i.video}}" src="{% static 'images/loading.gif' %}"  alt="avenger image" >
                                <script type="text/javascript">
                                    function youtube_parser(url){
                                        var regExp = /^.((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#&?]).*/;
                                        var match = url.match(regExp);
                                        return (match&&match[7].length==11)? match[7] : false;
                                    }
                                    document.getElementById('{{i.video}}').setAttribute('src', 'http://i1.ytimg.com/vi/'+youtube_parser("{{i.video}}")+'/default.jpg');
                                </script></a>
                            </div>
                        </div>
                      
                           
                        {% endfor %}
                       
                        
                       
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#movie-carousel2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#movie-carousel2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>


    <!-- genre 1 -->
    <div class="carousel-movies">
        <h3 class="carousel-heading">Genre 1</h1>
        <div id="genre1" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row movie-row">
                        {% for i in items %}
                        <div class="col-sm-4 col-lg-2 col">
                            <div class="movie-img-container">

                                <img class="movie-icon" id="" src="{% static 'images/loading.gif' %}"  alt="img" >
                                <!-- TODO: add a script here to change video icons -->

                            </div>
                        </div>
                        {% endfor %}
                    </div> 
                </div>
            </div>
            <a class="carousel-control-prev" href="#genre1" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#genre1" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <!-- genre 1 -->
    <div class="carousel-movies">
        <h3 class="carousel-heading">Genre 2</h1>
        <div id="genre1" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row movie-row">
                        {% for i in items %}
                        <div class="col-sm-4 col-lg-2 col">
                            <div class="movie-img-container">

                                <img class="movie-icon" id="" src="{% static 'images/loading.gif' %}"  alt="img" >
                                <!-- TODO: add a script here to change video icons -->

                            </div>
                        </div>
                        {% endfor %}
                    </div> 
                </div>
            </div>
            <a class="carousel-control-prev" href="#genre2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#genre2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="feature">
        
        <div class="row feature-row">
            <div class="col-md-6">
                <div class="feature-info">
                    <h1>Watch anytime anywhere</h1>
                    <h4>Stream unlimited videos on your phone, tablet, laptop, and TV.</h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature-image">
                    <img src="{% static 'images/mobile.jpg' %}" alt="">
                </div>
            </div>
        </div>


        <!-- faqs -->

        <div class="faqs">
            {% if paid == True %}
            <h1 class="faq-heading">Frequently Asked Questions</h1>
            {%endif%}
            <div class="btn collapse-btn" data-toggle="collapse" href="#q1">
                <h2 class="ques">Lorem ipsum doler sit amet ?</h2>
                <!-- <h1 class="add-icon">+</h1> -->
            </div>
            <div class="collapse" id="q1">
                <div class="faq-ans">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>

            <div class="btn collapse-btn" data-toggle="collapse" href="#q2">
                <h2 class="ques">Lorem ipsum doler sit amet ?</h2>
                <!-- <h1 class="add-icon">+</h1> -->
            </div>
            <div class="collapse" id="q2">
                <div class="faq-ans">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </div>
    </div>


{% endblock %}