{% extends 'base.html' %}

{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/subscription.css' %}">
{% endblock %}

{% block content %}

<section id="sub-plan">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="card shadow">
                <div class="card-header">
                    <h1>PREMIUM</h1>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Monthly   $.99</h3>
                    <ul>
                        <li>All premium movies/tv shows</li>
                        <li>Ad free entertainment</li>
                        <li>Subtitles Availability</li>
                        <li>{{paid}}</li>
                        <li>{{days}}</li>
                    </ul>
                </div>
                <button class="btn btn-outline-danger sub-btn">Subscribe</button>
                <div id="paypal-button-container"></div>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"type="text/javascript"></script>
                <script src="https://www.paypal.com/sdk/js?client-id=AWbxQPbRkjrmAqYUDegrLZ_CiOy3H0-mTAJBIAzCgaM913ZttWPtYGpxBZRv2I_CiKuZ7PswSSbH4yj6&currency=USD"></script>

                <script>
                    
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = cookies[i].trim();
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    // Render the PayPal button into #paypal-button-container
                    paypal.Buttons({
                        style: {
                            color:  'blue',
                            shape:  'pill',
                            label:  'pay',
                            height: 40
                        },
                        // Set up the transaction
                        createOrder: function(data, actions) {
                            return actions.order.create({
                                purchase_units: [{
                                    amount: {
                                        value: '0.99'
                                    }
                                }]
                            });
                        },
                        
                        // Finalize the transaction
                        onApprove: function(data, actions) {
                            return actions.order.capture().then(function(details) {
                                // Show a success message to the buyer
                                var csrftoken = getCookie('csrftoken');
                                console.log("above ajax")
                                $.ajax({
                                    type: "POST",
                                    url: "{% url 'subscribed_user' %}",   /* Call python function in this script */
                                    data: { csrfmiddlewaretoken: csrftoken, text: "you are subscribed" },  /* Passing the text data */
                                    success: function(){console.log("payment successfull");
                                    window.location.href = "{% url 'index' %}";
                                }
                                });
                            });
                        }
            
            
                    }).render('#paypal-button-container');
                </script>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="card shadow">
                <div class="card-header">
                    <h1>GENERAL</h1>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Free   $0.00</h3>
                    <ul>
                        <li>All free videos and tv shows</li>
                        <li>Access to all video qualities</li>
                        <li>Add movies to your favourites</li>
                    </ul>
                </div>
                <button class="btn btn-outline-danger sub-btn">Subscribe</button>

            </div>
        </div>
    </div>
</section>
    

{% endblock %}