{% extends 'base_yvideo_upload.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/addvideo.css' %}">

        <div class="container pt-5">
            <h1>STRANGEFLIX</h1>
            <h3>Add Video From Storage</h3>
            <form enctype="multipart/form-data" method="POST" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label>Video</label><br>
                    <input type="file" id="myFile" da name="videofile" placeholder="Add video here" >
                </div>
                <div class="form-group">
                    <label>Poster</label><br>
                    <input type="file" id="myFile" name="poster" placeholder="Add poster image here" >
                </div>
                <div class="form-group">
                    <label>Caption file</label><br>
                    <input type="file" id="myFile" name="captions" placeholder="Add cation file here(recommended: vtt file)" >
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title" placeholder="Add title">
                </div>

                
                <div >
                    <label for="mobile">Category</label>
                    <div class="form-control">
                  {{form.category}}
                  </div>
                </div>
                <br>
                <div>
                  <label for="mobile">Genre</label>
                  <div class="form-control">
                    {{form.genre}}
                    </div>
                 </div>
                 <br>

                <div class="form-group">
                    <label>Tags</label>
                    <input type="text" data-role="tagsinput" class="form-control" name="tags">
                </div>
                
                <div class="form-group">
                    <label>Description</label>
                    <textarea type="text" class="form-control" name="description" placeholder="Add description"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-danger btn-lg">Submit</button>
            </form>
            <p>Common Tags: 
            {% for mt in common_tags %}
                <a href="#" class="badge badge-danger">{{mt}}</a>
            {% endfor %}
            </p>
            <div class="row mb-2 posts">
                    {% for video in videos %}
                    <div class="col-md-6">
                        <div class="cards">
                            <div class="row no-gutters border rounded  flex-md-row mb-4 shadow-sm h-md-250">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <h3 class="my-1"><a href="{% url 's_detail' video.slug %}">{{video.title}}</a></h3>
                                    <div style="display:flex">
                                        {% for tag in video.tags.all %}
                                        <a href="{% url 's_tagged' tag.slug %}" class="mr-1 badge badge-dark">#{{ tag }}</a>
                                        {% endfor %}
                                    </div>
                                    <p class="mb-auto">{{video.category}}</p>
                                    <p class="mb-auto text-muted">{{video.publish_date}}</p>
                                </div>
                            </div>
                        </div>       
                    </div>
                    {% endfor %}
            </div>
        </div>    
{% endblock content %}
