{% extends 'base.html' %}
{% load static %}

{% block css %}
    <!-- video player css -->
    <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />

    <!-- my css -->
    <link rel="stylesheet" href="{% static 'css/video.css' %}">
    <link rel="stylesheet" href="{% static 'css/youtube_video_player.css' %}">
{% endblock %}

{% block content %}

    <!-- video player -->
    <section class="video-section">
        <div class="video-div">
            <script type="text/javascript" src="{% static 'js/youtube_video_player.js' %}"></script>
            
            <iframe src="{{item.video}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video-actions-div">
            <h3 class="video-title">{{item.title}}</h3>

            <h6 class="video-info">
                {{item.category}} | Language | {{item.publish_date}} | Rating</h6>
            <h6 class="video-content">{{item.description}}</h6>

            <br><br>
            <div style="display:flex">
                {% for tag in post.tags.all %}
                <a href="{% url 'tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
                {% endfor %}
            </div>

            <div class="reactions">
                <i class="fa fa-thumbs-up reaction-icon" aria-hidden="true"></i> 200
                <i class="fa fa-thumbs-down reaction-icon" aria-hidden="true"></i> 1
                <i class="fa fa-share-alt reaction-icon" aria-hidden="true"></i> SHARE
            </div>
        </div>
    </section>



{% endblock %}