{% extends 'base.html' %}
{% load static %}

{% block css %}
    <!-- video player css -->
    <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />

    <!-- my css -->
    <link rel="stylesheet" href="{% static 'css/video.css' %}">
    <link rel="stylesheet" href="{% static 'css/youtube_video_player.css' %}">
{% endblock %}

{% block content %}

    <!-- video player -->
    <section class="video-section">
        <div class="container-fluid video-div">
            <div class="wrapper">
                <iframe src="{{new_url}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            
            <script type="text/javascript" src="{% static 'js/youtube_video_player.js' %}"></script>
        </div>
        <div class="video-actions-div">
            <h3 class="video-title">Video title</h3>
            <h6 class="video-info">Category | Language | Date | Rating</h6>
            <h6 class="video-content">Divided by time, united by a tragic incident. In a bittersweet reunion, seven middle-aged friends take a walk down the memory lane at the least expected place.</h6>
            <br><br>

            <div class="reactions">
                <i class="fa fa-thumbs-up reaction-icon" aria-hidden="true"></i> 200
                <i class="fa fa-thumbs-down reaction-icon" aria-hidden="true"></i> 1
                <i class="fa fa-share-alt reaction-icon" aria-hidden="true"></i> SHARE
            </div>
        </div>
    </section>



{% endblock %}