{% extends 'base_yvideo_upload.html' %}
{% load static %}

{% block content %}

<h2>{{item.title}}</h2>

    <link rel="stylesheet" href="{% static 'css/detail.css' %}">

    <div class="card shadow">
        <img id="{{item.video}}" class="card-img-top" alt="Icon">
        <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            {% for tag in item.tags.all %}
            <a href="#" class="badge badge-danger" >{{ tag }}</a>
            {% endfor %}
            <p>{{item.category}}</p>
            <p>{{item.publish_date}}</p>
            <a href="{% url 'play_yvideo' item.id %}" class="btn btn-outline-danger">Play</a>
            <a href="{% url 'delete_yvideo' item.id %}" class="btn btn-outline-danger">Delete</a>
        </div>
    </div>

                               
    <script type="text/javascript">
        function youtube_parser(url){
            var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#&?]*).*/;
            var match = url.match(regExp);
            return (match&&match[7].length==11)? match[7] : false;
        }
        document.getElementById('{{item.video}}').setAttribute('src', 'http://i1.ytimg.com/vi/'+youtube_parser("{{item.video}}")+'/maxresdefault.jpg');
    </script>

{% endblock content %} 

