{% extends 'base_yvideo_upload.html' %}
{% load static %}


{% block content %}

        {% if user.is_authenticated and not user.theme_user.darkmode %}
        <link rel="stylesheet" href="{% static 'css_light/addvideo.css' %}">
        {% elif user.is_authenticated and user.theme_user.darkmode %}
        <link rel="stylesheet" href="{% static 'css/addvideo.css' %}">
        {% endif %}

        <div class="container pt-5">
            <h1>STRANGEFLIX</h1>
            <h3>Add  Video Through a Link</h3>
            <form method="POST" >
                {% csrf_token %}
                <div class="form-group">
                    <label>Embed Url</label>
                    <input type="text" class="form-control" name="video" placeholder="Add Embed Url">
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title" placeholder="Add title">
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <label for="mobile">Category</label>
                        <div class="form-group">
                            {{form.category}}
                        </div>
                    </div>
                    <!-- <br> -->
                    <div class="col-sm-6">
                        <label for="mobile">Genre</label>
                        <div class="form-group">
                            {{form.genre}}
                            <!-- TODO:style this -->
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label>Tags</label>
                    <input type="text" data-role="tagsinput" class="form-control" name="tags">
                </div>
                
                <div class="form-group">
                    <label>Description</label>
                    <textarea type="text" class="form-control" name="description" placeholder="Add description"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-danger btn-lg">Submit</button>
            </form>
            <p>Common Tags: 
            {% for mt in common_tags %}
                <a href="#" class="badge badge-danger">{{mt}}</a>
            {% endfor %}
            </p>
            <div class="row mb-2 posts">
                    {% for item in items %}
                    <div class="col-md-6">
                        <div class="cards">
                            <div class="row no-gutters border rounded  flex-md-row mb-4 shadow-sm h-md-250">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <h3 class="my-1"><a href="{% url 'detail' item.slug %}">{{item.title}}</a></h3>
                                    <div style="display:flex">
                                        {% for tag in item.tags.all %}
                                        <a href="{% url 'tagged' tag.slug %}" class="mr-1 badge badge-danger">#{{ tag }}</a>
                                        {% endfor %}
                                    </div>
                                    <p class="mb-auto">{{item.category}}</p>
                                    <p class="mb-auto text-muted">{{item.publish_date}}</p>
                                </div>
                            </div>
                        </div>       
                    </div>
                    {% endfor %}
            </div>
        </div>

        <script>
            setTimeout(function(){
              console.log("timeout function called")
              $.ajax({
                type: "GET",
                url: "{% url 'increase_yviews' %}",
                data: {'title':"{{item.title}}"},
                dataType: "json",
                success: function(response) {
                       console.log(response);
                       console.log("timeout function called 2")
                 },
                 error: function(rs, e) {
                        alert(rs.responseText);
                 }
           });
            },10*1000)
        </script>
{% endblock content %}