.top-carousel-div{
    width: 100%;
    margin-top: 7rem;
    padding: 0 5%;
    margin-bottom: 5%;
}

.slide{
    width: 100%;
}

.carousel-item, .carousel-inner{
    width: 100%;
    border-radius: 0.5rem;
    background-color: rgb(17, 16, 16);
}


.image-div{
    width: fit-content;
}

.carousel-img{
    width: 100%;
}

.carousel-indicators{
    z-index: 2;
}