.notification_section {
  margin-top: 5.5rem;
  padding: 5% 14%;
}

h1 {
  color: red;
  margin-bottom: 4rem;
}
#footer {
  display: none;
}

.table {
  color: white;
  margin-left: 0;
}

.table thead th {
  border-top: 0;
}

.video-link {
  color: white;
}

.video-link:hover {
  color: #af0404;
}
