#sub-plan {
  margin-top: 10rem;
  padding: 0 15% 3%;
}

.card {
  height: 100%;
  border-color: whitesmoke;
  background-color: black;
  color: rgb(211, 203, 203);
  border-radius: 0.2rem;
}

.card-header {
  height: 25%;
  border-color: whitesmoke;
  color: #af0404;
}

.sub-btn {
  width: 100%;
  /* margin: 5%; */
  border-radius: 28px;
}

.subscribe-button-container {
  padding: 20% 5%;
  height: 30%;
}

#paypal-button-container {
  padding: 5%;
  height: 30%;
  margin-bottom: 1rem;
}

.card-container {
  margin-bottom: 2rem;
}

.disabled {
  cursor: default;
}

.disabled:hover {
  cursor: default;
  background-color: transparent;
  color: red;
}
