.video-section{
    margin-top: 6rem;
}

.video-div{
    width: 100%;
    height: 60%;
}

.video-js, .vjs-big-play-centered{
    width: 100%;
    padding-top: 50%;
}

.video-actions-div{
    background-color: black;
    text-align: left;
    color: aliceblue;
    padding: 1% 3%;
    margin-bottom: 0.5rem;
}

.video-title{
    text-align: left;
    font-weight: bold;
    color: white;
    margin-bottom: 3px;
}

.video-content{
    margin-top: 1rem;
}

.reaction-icon{
    margin: 1rem;
    margin-right: 0.2rem;
}

.reaction-icon:hover{
    color: red;
    transform: scale(1.2);
}