body {
  background-color: white;
  color: black;
  padding: 0 15%;
}

h1 {
  color: red;
  margin-bottom: 4rem;
}
/* 
input {
  background-color: #e3e3e3;
  color: rgb(211, 203, 203);
} */

.badge {
  background-color: red;
  /* color: black; */
}

.btn-outline-danger {
  color: red;
  border-color: red;
}

.btn-outline-danger:hover {
  color: black;
  background-color: red;
  border-color: red;
}

.badge-dark:hover {
  color: black;
  background-color: red;
}

.badge-danger:hover {
  color: black;
  background-color: red;
  border-color: red;
}

.pressed-danger {
  color: #af0404;
  border-color: red;
}
/* 
.bootstrap-tagsinput {
  background-color: #e3e3e3;
  color: rgb(211, 203, 203);
  border-radius: 3px;
} */
/* 
.form {
  background-color: #black;
  color: aliceblue;
  padding: 5%;
}

.form-control {
  background-color: #e3e3e3;
  color: rgb(211, 203, 203);
} */

/* .form-control:focus {
  color: #black;
  background-color: gray;
  border-color: black;
} */

.form-heading {
  color: red;
}

.my-1 a {
  color: black;
}

.my-1 a:hover {
  color: red;
}

.rounded {
  background-color: #e3e3e3;
  border-bottom: black;
  border-width: 5px;
}
/* 
input[type="file"] {
  border: 1px solid black;
  color: black;
  font-size: 20px;
  width: 50%;
  border-radius: 3px;
}

input[type="file"]:hover {
  cursor: pointer;
  color: black;
  font-size: 20px;
  border-radius: 3px;
} */

@media only screen and (max-width: 1000px) {
  input[type="file"] {
    width: 100%;
  }
}
