img {
  width: 100%;
  height: 100%;
}

.mycorner_section {
  color: white;
  margin-top: 5.5rem;
  padding: 5%;
}

a:hover {
  text-decoration: none;
}

h2 {
  color: black;
  font-weight: 400;
}

.video-title {
  color: white;
}

.info {
  background-color: e3e3e3;
  padding: 3% 10% 0.1%;
}

#footer {
  display: none;
}

.link-to-all {
  font-size: small;
  color: firebrick;
  margin: 1rem;
}

.link-to-all:hover {
  color: red;
}
/* 
.page-nav {
  width: 100%;
  display: block;
  text-align: center;
  align-items: center;
} */

/* .page-link {
  background-color: e3e3e3;
  color: grey;
}

.page-link:hover {
  background-color: gray;
  color: #817878;
}

.page-item.disabled .page-link {
  color: #e3e3e3;
} */
