.notification_section {
  margin-top: 5.5rem;
  padding: 5% 14%;
}

h1 {
  color: black;
  margin-bottom: 4rem;
}
#footer {
  display: none;
}

.table {
  color: black;
  margin-left: 0;
  border-color: black;
}

.table thead th {
  border-top: 0;
  border-color: black;
}

.table tr td,
.table tr th {
  border-color: black;
}

.video-link {
  color: black;
}

.video-link:hover {
  color: #af0404;
}
